.container{
    position: relative;
    width: 100%;
   border: 2px solid green;
   height: 100vh;
   background-color: rgba(0, 0, 0, .5);
    z-index: 1;
}
.wrap{
    position: absolute;
    background-color: #ffff;
    border: 2px solid black;
    width: 30%;
    height: 30vh;
    /* padding: 5px; */
    top: 30%;
    left:30%;
    z-index:2;
}

p{
    font-size: 30px;
    position: relative;
    left: 370px;
    bottom:14%;
    padding-top: 0px;
    cursor: pointer;
}
h3{
   padding-left: 55px;
}